/* login.css */
.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Makes sure the wrapper takes up full viewport height */
    background-image: url('./mateo1.jpg'); /* Set the background image */
    background-size: cover; /* Cover the entire container with the image */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Prevent repeating the image */
}
  
  form {
    padding: 50px;
    background: rgba(255, 255, 255, 0.2); /* Transparent white background */
    backdrop-filter: blur(5px); /* Apply a blur effect to the background */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  }
  
  h1 {
    text-align: center;
    color: #333;
    margin-bottom: 30px;
  }
  
  .input-box {
    margin-bottom: 25px;
    display: flex;
    flex-direction: column;
  }
  
  .input-box input[type="text"],
  .input-box input[type="password"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
  }
  
  .input-box label {
    margin-left: 5px;
    margin-bottom: 10px;
  }
  
  button {
    width: 100%;
    padding: 10px;
    background-color: #007bff; /* Bootstrap primary color */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  button:hover {
    background-color: #0056b3; /* Darken the button a bit when hovering */
  }
  